<!DOCTYPE html>
<header class="flex bg-zinc-800/30 p-2 relative">
  <div class="flex items-center py-2">
    <a href="#">
      <img class="w-8" src="img/ant.svg" alt="ant">
    </a>
    <h2 class="font-bold text-emerald-200 pl-2">DOCS</h2>
  </div>
</header>
<nav class="flex flex-col pr-2 pt-3 relative w-full">
  
  <!-- TITLE GETTING STARTED ---->
  <a [routerLink]="'getting-started'" routerLinkActive="active" (click)="toggleTitle('getting-started')">
    <div class="flex items-center">
      <!-- <img class="absolute w-4 mt-3 transition-transform duration-300 ease-in" 
      [ngClass]="{ 'rotate-90': currentTitle === 'getting-started' }" 
      src="assets/ChevronLeft.svg" alt=">"> -->
      <h1 class="cursor-pointer" [ngClass]="{ 'currentTitle': currentTitle === 'getting-started' }">
        Getting Started</h1>
    </div>
  </a>

  <!-- TITLE INTRODUCTION ---->
  <div>
    <a [routerLink]="'introduction'" routerLinkActive="active" (click)="toggleTitle('title_01')">
      <div class="flex items-center">
        <img class="absolute w-4 mt-3 transition-transform duration-300 ease-in" 
          [ngClass]="{ 'rotate-90': currentTitle === 'title_01' }" 
          src="assets/ChevronLeft.svg" alt=">">
        <h1 class="cursor-pointer" [ngClass]="{ 'currentTitle': currentTitle === 'title_01' }">
          Introduction</h1>
      </div>
    </a>
    <!-- ▼ Toogle Title INTRODUCTION ---->
    @if (currentTitle === 'title_01') {
      <!-- ● Page ---->
      <h2   class="module-line"
        >What is ANT?</h2>
      <!-- ● Page ---->
      <h2   class="module-line"
        >Quick Start</h2>
    }
  </div>

  <!-- TITLE CONCEPTS ---->
  <div>
    <a routerLink="concepts" routerLinkActive="active" (click)="toggleTitle('title_02')">
      <div class="flex items-center">
        <img class="absolute w-4 mt-3 transition-transform duration-300 ease-in" 
          [ngClass]="{ 'rotate-90': currentTitle === 'title_02' }" 
          src="assets/ChevronLeft.svg" alt=">">
        <h1 class="cursor-pointer w-full" [ngClass]="{ 'currentTitle': currentTitle === 'title_02' }">
          Main Concepts</h1>
      </div>
    </a>
    <!-- ▼ Toogle Title CONCEPTS ---->
    @if (currentTitle === 'title_02') {
      <!-- ● Page ---->
      <a [routerLink]="['/concepts/structure&infrastructure']">
        <h2   class="module-line"
        [ngClass]="{ 'currentPage': currentPage === 'page_01' }"
        >1. Structure & Infrastructure</h2>
      </a>
      <!-- ● Page ---->
      <a [routerLink]="['/concepts/support-folders']">
        <h2   class="module-line"
        [ngClass]="{ 'currentPage': currentPage === 'page_02' }"
        >2. Support Folders</h2>
      </a>
      <!-- ● Page ---->
      <a [routerLink]="['/concepts/files-nomenclature']">
        <h2   class="module-line"
        [ngClass]="{ 'currentPage': currentPage === 'page_03' }"
        >3. File's Nomenclature</h2>
      </a>
      
    }
  </div>
  <br>
</nav>