<!DOCTYPE html>
<header class="flex bg-zinc-800/30 p-2 relative">
  <div class="flex items-center py-2">
    <a href="#">
      <img class="w-8" src="img/ant.svg" alt="ant">
    </a>
    <h2 class="font-bold text-emerald-200 pl-2">DOCS</h2>
  </div>
</header>
<nav class="flex flex-col pr-2 pt-3 relative w-full">
  <h1>Getting Started</h1> <!-- anchor for Default Component ---->
  <div>
    <a [routerLink]="'introduction'" routerLinkActive="active" (click)="toggle('introduction')">
      <div class="flex items-center">
        <img class="absolute w-4 mt-3 transition-transform duration-300 ease-in" 
          [ngClass]="{ 'rotate-90': currentSection === 'introduction' }" 
          src="assets/ChevronLeft.svg" alt=">">
        <h1 class="cursor-pointer" [ngClass]="{ 'currentH1': currentSection === 'introduction' }">
          Introduction</h1>
      </div>
    </a>

    @if (currentSection === 'introduction') {
      <h2>What is ANT?</h2>
        <!-- <ul>
          <li>How works?</li>
          <li>Key benefits</li>
        </ul> -->
      <h2>Quick Start</h2>
      <div class="pl-10 border-b border-emerald-600/50"></div>
    }
  </div>

  <div>
    <a routerLink="concepts" routerLinkActive="active" (click)="toggle('concepts')">
      <div class="flex items-center">
        <img class="absolute w-4 mt-3 transition-transform duration-300 ease-in" 
          [ngClass]="{ 'rotate-90': currentSection === 'concepts' }" 
          src="assets/ChevronLeft.svg" alt=">">
        <h1 class="cursor-pointer w-full" [ngClass]="{ 'currentH1': currentSection === 'concepts' }">
          Main Concepts</h1>
      </div>
    </a>

    @if (currentSection === 'concepts') {
      <a 
      routerLink="concepts"
      fragment="Levels-and-Structure"
      >
        <h2
        [ngClass]="{ 'currentH2': moduleSection === 'Levels-and-Structure' }"
        (click)="scrollToSection('levels-and-structure')"
        >1. Levels and Structure</h2>
      </a>
      
      <a href="concepts#Support-Folders">
        <h2
        [ngClass]="{ 'currentH2': moduleSection === 'Support-Folders' }"
        (click)="scrollToSection('support-folders')"
        >2. Support Folders</h2>
      </a>
      
      <a href="concepts#Files-Nomenclature">
        <h2
        [ngClass]="{ 'currentH2': moduleSection === 'Files-Nomenclature' }"
        (click)="scrollToSection('file-nomenclature')"
        >3. File's Nomenclature</h2>
      </a>
      
      <div class="pl-10 border-b border-emerald-600/50"></div>
    }
  </div>
</nav>
