<!DOCTYPE html>
<div class="flex flex-col w-full">
    <h1>On this Page</h1>
    <!-- ▼ Toogle summary ---->
    @for (articleHeading of articleHeadings; track $index ) {
      	<h2 
      	  class="module-line"
      	  [innerHTML]="articleHeading"
      	  [ngClass]="{ 'currentArticle': currentArticle === (articleHeading | addHyphen) }">
      	</h2>
    }

    <p>debug current language: {{ currentLanguage }}</p>
    <p>debug current title: {{ currentTitle }}</p>
    <p>debug current page: {{ currentPage }}</p>
    <p>debug article: {{ currentArticle }}</p>
    
</div> 