<!DOCTYPE html>
<section class="main pt-3 pl-3 pr-3 pb-3 relative">
    <div class="w-full ">
        <h4 class="text-xs font-bold"> ANT DOCUMENTATION </h4>
        <h1 class="text-3xl font-bold text-emerald-500">GETTING STARTED</h1>
        <h2 class="text-xl">Welcome to <font class="text-emerald-500">ANT on the system</font> Documentation</h2>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi hic nulla quia libero!<br>
        Consectetur hic, animi id fugiat aut facilis cum nobis officia iste, non velit iure ad libero<br>
        repudiandae?</p>
        <div testing>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias maxime sequi ipsa a itaque aperiam quae atque excepturi? Quibusdam blanditiis iste saepe commodi iure aut explicabo expedita omnis amet. Similique! <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum quia tempore corporis maiores sit libero error assumenda placeat officia, laudantium atque ea, dignissimos fugit ipsum est porro harum cumque? <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci harum, deleniti dicta voluptatem facilis provident aut a nulla dolores necessitatibus laudantium debitis laborum, repudiandae nihil fugit veniam, ipsam enim amet! <br>
            Lorem ipsum dolor <br>
            sit amet consectetur adipisicing elit. Natus, dolore!<br>
            Lorem ipsum dolor <br>
            sit amet consectetur adipisicing elit. Natus, dolore!<br>
            Lorem ipsum dolor <br>
            sit amet consectetur adipisicing elit. Natus, dolore!<br>
            Lorem ipsum dolor <br>
            sit amet consectetur adipisicing elit. Natus, dolore!<br>
            Lorem ipsum dolor <br>
            sit amet consectetur adipisicing elit. Natus, dolore!<br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quos quod eveniet consectetur porro, illum atque consequuntur provident dolor. Dolores eius culpa quia odio accusamus delectus ducimus nostrum alias fugit.
        </p>
        </div>

        <app-footer class="w-full bottom-0 left-0 "/>
    </div>

</section>