.pic-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0.2rem;
	width: 100%;
}

.pic-container img {
	width: 50%;
	height: auto;
}

h1, h2 {
	color: var(--sl-color-accent-high);
}

b {
	background-color: var(--sl-color-accent-contrast-high);
	color: var(--sl-color-accent);
	padding: 0;
	border-radius: 2px;
	font-weight: 500;
}

/* Codeblock */

.ec-line {
	padding: 0px !important;
	margin: 0px !important;
	line-height: 1.2 !important;
}

.ec-line code {
	padding: 0px !important;
	margin: 0px !important;
}

[data-language="fs"] span[style] {
  color: var(--sl-color-accent-contrast) !important; 
}

/* Usage Tabs */
.usage-tabs li[role="presentation"]:nth-child(1) > a[role="tab"] {
	color: #28c76f;
}

.usage-tabs li[role="presentation"]:nth-child(2) > a[role="tab"] {
	color: #ff4d4d;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #222000;
	--sl-color-accent: #24433e;
	--sl-color-accent-high: #10b981;
	--sl-color-accent-contrast: #f3d79d;
	--sl-color-accent-contrast-high: #ffeb3b;
	/* --sl-color-highlight: #84baa8; light green */
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff5;
	--sl-color-gray-2: #bac3cb;
	--sl-color-gray-3: #7d8e9c;
	--sl-color-gray-4: #4a5a67;
	--sl-color-gray-5: #2b3a46;
	--sl-color-gray-6: #1a2934;
	--sl-color-black: #12191e;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #222000;
	--sl-color-accent: #178b64;
	--sl-color-accent-high: #24433e;
	--sl-color-accent-contrast: #5d3102;
	--sl-color-white: #12191e;
	--sl-color-gray-1: #1a2934;
	--sl-color-gray-2: #2b3a46;
	--sl-color-gray-3: #4a5a67;
	--sl-color-gray-4: #7d8e9c;
	--sl-color-gray-5: #bac3cb;
	--sl-color-gray-6: #e7eff5;
	--sl-color-gray-7: #f3f7fa;
	--sl-color-black: #ffffff;
}