<!DOCTYPE html>
<section class="footer">
    <div class="flex items-center pt-2">
        <img class="w-8" src="assets/Logo-Original-Shape.svg" alt="x">
        <a>Designed by MikeWorld™ &copy; 2024</a>
    </div>
        
    <div class=" p-2 flex flex-col">
        <h1 class="font-bold">Community</h1>
        <a href="https://discord.gg/MqAT73cU6M">Discord</a>
        <a class="text-gray-600" >Reddit</a>
        <a class="text-gray-600" >Twitter</a>
    </div>
    <div class=" p-2 flex flex-col">
        <h1 class="font-bold">Resources</h1>
        <a class="text-gray-600">Script</a>
    </div>
    <div class="p-2 flex flex-col">
        <h1 class="font-bold">Colaborate with us</h1>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdGSCRiMKcwLEs3givvmE8gGG1_PGv-GHs47xKPmL8XRFL5gQ/viewform?usp=sf_link">BetaTesting</a>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdGSCRiMKcwLEs3givvmE8gGG1_PGv-GHs47xKPmL8XRFL5gQ/viewform?usp=sf_link">Development</a>
    </div>
</section>
