section {
    position: relative;
    padding-bottom: 2rem;
    line-height: 1;
}

p {
    display: inline;
    line-height: 1.2;
}

/* TODO: DELETE RULE */
a {
    display: inline;
    text-decoration: underline !important;
}

/* TODO: DELETE RULE */
.not-available {
    opacity: 0.2;
}

/* --------- Headings --------- */ 
.docs-subtitle {
    @apply text-2xl font-bold text-emerald-500 mb-2 pb-1;
    border-bottom: 1px solid rgba(46, 140, 110, 0.7);
}

.docs-subtitle-light {
    @apply text-2xl font-bold text-white mb-2 pb-1;
    border-bottom: 1px solid rgba(109, 147, 135, 0.2);
}

.docs-subtitle-thiny {
    @apply text-xl font-semibold mt-4 mb-1 pb-1;
    border-bottom: 1px solid rgba(74, 98, 90, 0.1);
}

/* TODO: DELETE RULES */
/* --------- Call outs --------- */

.callout {
    @apply flex items-center p-4 my-2 rounded-md border-l-4;
}

.callout img {
    @apply w-6 h-6 mr-2;
}

.callout p, .callout a {
    @apply m-0;
    display: inline;
}

.callout .content {
    /* display: flex; */
    display: inline;
    align-items: center;
    flex-wrap: wrap;
}

.callout.info {
    @apply bg-blue-100/10 border-blue-500 text-blue-300;
}

.callout.success {
    @apply bg-green-100/10 border-green-500 text-green-300;
}

.callout.warning {
    @apply bg-orange-100/10 border-orange-500 text-orange-300;
}

.callout.danger {
    @apply bg-red-100/10 border-red-500 text-red-500;
}

.callout.quote {
    @apply bg-gray-100/10 border-gray-500 text-gray-500;
}

.dialog {
    @apply bg-emerald-500/20 pt-4 pb-4 pl-6 pr-6 mt-1 mb-1 rounded-md;
}

/* TODO: DELETE RULES */
/* --------- Lists --------- */

li {
    list-style: inside;
    padding-left: .5rem;
    padding-top: .25rem;
}

li:last-child {
    padding-bottom: .25rem;
}

/* --------- Tables --------- */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: .8px solid #6d9387;
    padding: 2px;
    text-align: left;
}
th {
    @apply text-slate-900;
}
td:first-child {
    white-space: nowrap;
}
td:last-child {
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
}
th {
    background-color: #6d9387;
}

/* TODO: DELETE RULES */
/* --------- Hash links --------- */ 
.hash-link {
    position: absolute;
    top: 2px;
    left: -20px;
    color: white;
}

h2:hover .hash-link {
    visibility: visible;
}

.hash-link .docs-subtitle {
    border-bottom: none;
}

.hash-link .docs-subtitle-light {
    border-bottom: none;
}