section {
    position: relative;
}

p {
    @apply leading-none;
}

a {
    display: inline;
    text-decoration: underline !important;
}

.not-available {
    opacity: 0.2;
}

/* --------- Call outs --------- */

.callout {
    @apply flex items-center p-4 my-2 rounded-md border-l-4;
}

.callout img {
    @apply w-6 h-6 mr-2;
}

.callout p {
    @apply m-0;
    display: inline;
}

.callout .content {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.callout.info {
    @apply bg-blue-100/10 border-blue-500 text-blue-300;
}

.callout.success {
    @apply bg-green-100/10 border-green-500 text-green-300;
}

.callout.warning {
    @apply bg-orange-100/10 border-orange-500 text-orange-300;
}

.callout.danger {
    @apply bg-red-100/10 border-red-500 text-red-500;
}

.callout.quote {
    @apply bg-gray-100/10 border-gray-500 text-gray-500;
}

.dialog {
    @apply bg-emerald-500/20 pt-4 pb-4 pl-6 pr-6 mt-1 mb-1 rounded-md;
}

/* --------- Tables --------- */
li {
    list-style: inside;
    padding-left: .5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: .8px solid #6d9387;
    padding: 2px;
    text-align: left;
}
th {
    @apply text-slate-900;
}
td:first-child {
    white-space: nowrap;
}
td:last-child {
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
}
th {
    background-color: #6d9387;
}

.hash-link {
    position: absolute;
    top: 2px;
    left: -20px;
    color: white;
}

h2:hover .hash-link {
    visibility: visible;
}

.pic-container {
    @apply flex flex-col md:flex-row gap-3 my-2;
}




/* EXPEREMENTAL */

.docs-decorative-header {
    @apply rounded-xl bg-slate-600/30 flex overflow-hidden mb-4 relative;
}

.docs-header-content {
    @apply box-border p-6 pe-0 grow;
}

.docs-header {
    @apply text-sm pb-[14px];
}

.docs-tittle {
    @apply text-3xl pe-0 font-semibold text-emerald-400;
}

.docs-subtitle {
    @apply text-2xl font-bold text-emerald-500 mb-2;
}

.docs-subtitle-light {
    @apply text-2xl font-bold text-white mb-2;
}

.docs-subtitle-thiny {
    @apply text-xl font-semibold mt-4 mb-1;
}