.icon-cnt-open {
    @apply z-20 sticky w-full relative;
}

.menu-open {
    @apply absolute right-3 flex items-center py-2 w-8;
}

.icon-cnt-close {
    z-index: 20;
    position: sticky;
    top: 0;
}

.menu-closed {
    position: relative;
    @apply bg-emerald-800/0 p-2 w-10 my-2;
    transition: width 1s ease-in 0s; 
}

.menu-closed:hover {
    /* background-image: url('../../../../public/assets/menu-close.gif');
    background-size: cover; */
    position: relative;
    @apply bg-emerald-800/90;
    transition: width 1s ease-in 0s; 
}

.icon-home {
    width: 1.5rem;
    height: 1.5rem;
    /* background-size: cover;
    background-position: center;
    background-image: url("./../../../../public/assets/menu.svg"); */
}

/* .icon-home:hover {
    background-image: url("./../../../../public/assets/menu-close.gif");
} */