<!DOCTYPE html>

<div class="grid grid-cols-12 grid-areas-layout overflow-hidden">
  <div menu-container
    class="z-20 fixed menu-container"
    [ngClass]="menu ? 'md:col-span-3 md:static w-full h-full bg-gradient-to-b md:from-zinc-800/30 from-zinc-800 to-zinc-800' : ''"
  >
      <div
      [ngClass]="menu ? 'icon-cnt-open' : 'icon-cnt-close'"
      >
        @if (menu === true) {
          <button 
            (click)="showMenu()" class="menu-open">
            <img src="assets/ChevronRight.svg" alt="x">
          </button>
        } @else {
          <button 
            (click)="showMenu()" class="menu-closed"> 
            <img src="assets/menu.svg" alt="">
          </button>
        }
      </div>
      <app-sidebar
        class="w-full left-0 top-auto h-full md:block"
        [ngClass]="menu ? 'md:w-full' : 'hidden -translate-x-full'"
      />
  </div>

  <div main-container
    class="col-span-12 md:col-span-9 overflow-y-scroll"
    [ngClass]="{ 'md:col-span-9' : menu === true }"
  >
    <app-header class="relative"/>
    <app-main />
  </div>
</div>