.icon-cnt-open {
    @apply z-20 sticky w-full relative;
}

.menu-open {
    @apply absolute right-3 flex items-center py-2 w-8 ;
}

.icon-cnt-close {
    z-index: 20;
}

.icon-cnt-close:hover {
    @apply md:bg-emerald-800/90 md:p-[2px] md:w-12;
    transition: .2s ease-in 0s;
}

.menu-closed {
    position: relative;
    @apply flex items-center bg-emerald-800/0 m-2 w-8 box-border;
    transition: width 1s ease-in 0s;
    
}

.menu-closed:hover {
    /* background-image: url('../../../../public/assets/menu-close.gif');
    background-size: cover; */
    position: relative;
}

.icon-home {
    width: 1.5rem;
    height: 1.5rem;
    /* background-size: cover;
    background-position: center;
    background-image: url("./../../../../public/assets/menu.svg"); */
}

/* .icon-home:hover {
    background-image: url("./../../../../public/assets/menu-close.gif");
} */