/* You can add global styles to this file, and also import other style files */

:root {
	color-scheme: light dark;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

header {
    height: 8vh;
    max-height: 9vh;
}

.sidebar {
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.main {
    min-height: 90vh;
    max-height: 90vh;
}

.footer {
    @apply flex flex-col items-start mt-3;
    @apply md:flex-row md:gap-x-10;
}

.window {
    height: 900px;
}

.centerDiv {
    @apply flex justify-center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    @apply w-6 h-6 stroke-current text-black dark:text-white;
}

section[id] {
    scroll-margin-top: 8vh;
}

.currentH1 {
    /* @apply bg-emerald-400 rounded-r-lg text-gray-950 ease-in duration-500; */
    @apply text-emerald-400 ease-in-out duration-500;
}

.currentH2 {
    background-color: rgba(172, 255, 47, 0.239); /* For debugging */
}

/* Tooltip */
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: #1a1b1e;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.7rem;
}

.tooltip-top {
    bottom: 125%;
}


.tooltip-bottom {
    top: 125%;
}

.tooltip::after {
    position: absolute;
    background: #1a1b1e;
    content: "";
    display: block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 18px;
    height: 8px;
    left: calc(50% - 9px);
}

.tooltip-top::after {
    bottom: -10px;
}

.tooltip-bottom::after {
    top: -10px;
}

.group-hover:visible {
    visibility: visible;
}

.group-hover:opacity-100 {
    opacity: 1;
}

/* Scrollbar */
:root {
    --scrollbar-bg: #202225; /* Color de fondo de la barra de desplazamiento */
    --scrollbar-thumb: #10B981; /* Color del pulgar de la barra de desplazamiento */
    --scrollbar-thumb-hover: #059669; /* Color del pulgar cuando se pasa el ratón por encima */  
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-button {
    display: none;
}